/*
Default:
 background-color: #336699;
 color: #fff;

Hover:
  background-color: #333;
  color: #336699;

Link Hover:
color: #336699;

Button Hover: #336699;

*/
.product-reviews-summary .reviews-actions a:hover, 
.ves-megamenu .dropdown-menu a:hover
{
  color: #336699!important;
}
.page-header .nav-links li a:hover{color: #336699;}

.columns a:hover, .columns .alink:hover, .breadcrumbs .item strong, 
.product-info-main .price-box .price-including-tax + .price-excluding-tax .price, 
.product-options-bottom .price-box .price-including-tax + .price-excluding-tax .price, 
.product-info-main .price-box .weee + .price-excluding-tax .price, 
.product-options-bottom .price-box .weee + .price-excluding-tax .price, 
.product-info-main .price-box .weee .price, 
.product-options-bottom .price-box .weee .price, .ves-menu .ves-vertical li.level0:hover > a,
.footer-top .nav-links li a:hover, body .page-wrapper a:hover, 
body .page-wrapper .alink:hover, .product-info-main .product-info-stock-sku .stock.available, 
.product-info-main .product-info-stock-sku .stock.unavailable
{
  color: #336699;
}

.scrollup, .block.newsletter .action.subscribe:hover, .ves-menutop,
.block-theme.block-v1 .productlist-widget ul.etabs li.active a,
body .page-wrapper .owl-carousel .owl-dots .owl-dot.active span, 
body .page-wrapper .owl-carousel .owl-dots .owl-dot:hover span,
.product-block .product-item-details .actions-primary .add-to-cart, .countdown-timmer,
.block-warning .nav-links li a:hover, .ves-autosearch .search_box .button-search
{
  background-color: #336699;
}

._keyfocus *:focus, input:focus:not([disabled]), textarea:focus:not([disabled]), select:focus:not([disabled]){
  box-shadow: 0 0 3px 1px #336699;
}

.action.primary:hover, .action.primary:active, .action.primary:focus {
    background: #336699;
    border-color: #336699;
    color: #fff;
}

textarea, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
  border-color: #336699;
}

/* Custom Fix*/
.vertical-menu{background: #2b2d42;}
.vertical-menu .block .block-title{border-top: 1px solid rgba(0, 0, 0, 0.5);}
.vertical-menu .block .block-title strong::after{color: rgba(0, 0, 0, 0.5);}
.sidebar .block{border-top: 3px solid #336699;}
.block.newsletter{background-color: #336699!important;}
.block.newsletter input{background-color: #225588;}
.social-footer{background-color: #2b2d42!important;}
.block-theme .productlist-widget{border-top: 3px solid #336699;}